<h1>Exchange rates 💲</h1>
<div *ngIf="loading">
  Loading...
</div>
<div *ngIf="error">
  Error :(
</div>
<div *ngIf="rates">
  <div *ngFor="let rate of rates">
    <p>{{rate.currency}}: {{rate.rate}}</p>
  </div>
</div>
